<!doctype html>
<html ng-app>
<head>
    <title>Test AngularJS</title>
    <script src="~/scripts/angular.min.js"></script>
    <script type="text/javascript">
        function ListCtrls($scope)
        {
            $scope.names = ['1', '2', '3', '4'];
        }
    </script>
</head>
<body>
    <h2>AngularJS</h2>
    <hr />

</body>
</html>

