@model AngularJS_Test.Models.modelConnection

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div>
    Version: @Model.version<br />
    State: @Model.state<br />
    Message: @Model.message<br />
</div>